<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Scoring Server">
    <meta name="author" content="Nayan Nandihalli">
		<meta http-equiv="refresh" content="30">

    <title>SRE Scoring Server</title>

    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/home">Capstone</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#/home">Home</a></li>
				<li><a href="#/challenges">Challenges</a></li>
				<li><a href="#/scores">Scores</a></li>
			</ul>
		</div>
	</nav>
	
  <div class="container">
    <ui-view>
    {{test}}
    </ui-view>
  </div>

  <div class="container">
      <hr>
      <!-- Footer -->
      <footer>
          <div class="row">
              <div class="col-lg-12">
                  <p>Intel Services Division</p>
              </div>
          </div>
      </footer>

  </div>
  <!-- /.container -->

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <script src="/javascripts/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script type="text/javascript" src="/javascripts/ui-bootstrap-tpls-0.14.0.min.js"></script>
  
  <script src="/javascripts/ScoringServer.js"></script>
  
  <script type="text/ng-template" id="/home.html">
  <!-- Page Content -->
    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
					<h1><center>Capstone</center></h1>
					
					<h2>Introduction</h2>
					<p>
						The capstone is the “final exam” of this software reverse engineering course. You will be provided with a set of challenges which you must reverse engineer in order to solve. You will (obviously) have access to the binaries in order to analyze them, but they are not able to generate valid flags while running on your local machines. In order to get credit for solving a challenge, you must retrieve your flag from the instructor’s server. This is to ensure students understand the logic of the problem instead of just modifying EIP in a debugger.
					</p>
					<p>
						The challenges are independent and you may complete them in any order you choose. They vary in difficulty from easy to very hard. Don’t expect to complete them all- the hardest challenges contain techniques that were not covered in class. They are not ordered in any particular way, but each one will give you general information when you run it including a short description, the port it listens on, and its (subjective) difficulty level.
					</p>
					<p>
						<center><b>You must complete at least one challenge in order to receive course credit.</b></center>
					</p>
					
					<h2>Challenges</h2>
					<p>
						All of the challenges should have been provided to you on the first day in an encrypted zip. The password is UncreativePassword.
					</p>
					<p>
						Upon starting a challenge, it will open a socket on your local machine and print out the port it is listening on. All of the challenges are non-malicious and safe to run on your local machine. You may communicate with them using netcat, which is provided in your tools directory. The connection syntax is <b>nc &lt;hostname or IP> &lt;port></b>. To connect to a challenge running on your localhost and listening on port 39001, <code>nc localhost 39001</code> would be the proper syntax.
					</p>
					<p>
						Each challenge will require you to input some particular data to “win”. Everything is fair game. You are free to use any techniques you learned in class or any prior knowledge. The instructor, at his discretion, will award bonus points for unexpected discoveries (e.g. an unintended exploitable vulnerability in a challenge). Once you understand the challenge logic, you must obtain your “flag” from the instructor’s server. The IP address of the instructor server will be provided in class.
					</p>
					<p>
						All of the challenges use a similar template, so as you start to understand certain things (e.g. network communication) you will be able to save time on other challenges. Additionally, they all use a DLL (Common.dll) that provides utility functionality such as socket communication and flag generation. You are welcome to reverse engineer it but doing so will not help you solve the challenges, so don’t waste your time.
					</p>
					
					<h2>Competition</h2>
					<p>
						The first student to complete all of the challenges will win a prize, to be revealed in class. If no student solves all of them, the student with the most points wins. Points are awarded based on challenge difficulty (100 * difficulty). The <a href="#/scores">scoring page</a> tracks the students with the highest score as well as identifying who has most recently solved a challenge. You must use a consistent name across all of the challenges to ensure your score is correctly tracked. Additionally, only alpha-numeric (plus - and space) strings of length 16 or less are acceptable.
					</p>
        </div>
      </div>
			
        
  </script>
  
  <script type="text/ng-template" id="/scores.html">
  <!-- Page Content -->
    <div class="container">
      <h3 class="well well-sm">Current Top 3 Scores</h3>
      
      <div class="row">
        <div class="col-md-12">
          <div ng-repeat="score in scores">
            <div class="row">
              <div class="col-md-4 col-md-offset-3"><h2>{{score.username}}</h2></div>
              <div class="col-md-4"><h2>{{score.points}}</h2></div>
            </div>
          </div>
        </div>
      </div>
        
      <h3 class="well well-sm">Last 3 Flags Submitted</h3>
        
      <div class="row">
        <div class="col-md-12">
          <div ng-repeat="flag in flags">
            <div class="row">
              <div class="col-md-6"><h3>{{flag.username}}</h3></div>
              <div class="col-md-2"><h3>{{flag.challengeID}}</h3></div>
              <div class="col-md-4"><h3>{{flag.timestamp}}</h3></div>
            </div>
          </div>
        </div>
      </div>
  </script>
	
	<script type="text/ng-template" id="/challenges.html">
  <!-- Page Content -->
    <div class="container">
      <h3 class="well well-sm">Current Challenges</h3>
      
      <div class="row">
        <div class="col-md-12">
					<table class="table table-striped table-hover">
						<tr>
							<th>ID</th>
							<th>Port</th>
							<th>Difficulty</th>
						</tr>
						<tr>
							<td>GEN1</td>
							<td>39001</td>
							<td>1/5</td>
						</tr>
						<tr>
							<td>GEN2</td>
							<td>39005</td>
							<td>2/5</td>
						</tr>
						<tr>
							<td>GEN3</td>
							<td>39003</td>
							<td>3/5</td>
						</tr>
						<tr>
							<td>GEN4</td>
							<td>39002</td>
							<td>1/5</td>
						</tr>
						<tr>
							<td>GEN6</td>
							<td>39007</td>
							<td>4/5</td>
						</tr>
						<tr>
							<td>GEN7</td>
							<td>39009</td>
							<td>4/5</td>
						</tr>
						<tr>
							<td>CR1</td>
							<td>39004</td>
							<td>2/5</td>
						</tr>
						<tr>
							<td>ARE1</td>
							<td>39010</td>
							<td>5/5</td>
						</tr>
					</table>
        </div>
      </div>
     
  </script>
</body>

</html>
